{% extends 'rango/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>About Page</h1>
	This tutorial has been put together by me.
	<br />
	<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}