{% extends 'rango/bootstrap_base.html' %}
{% load staticfiles %}

{% block title_block %}
Add Page
{% endblock %}

{% block body_block %}
	{% if category %}

		<form role="form" id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
			<h2 class="form-signin-heading">Add a Page to
				<a href="/rango/category/{{ category.slug }}/add_page/">
					{{ category.name }}
				</a>
			</h2>

			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
			<br />

			<button class="btn btn-primary" type="submit" name="submit">
				Add Page
			</button>
			<input type="submit" name="submit" value="Add Page" />
		</form>
	{% else %}
		<p>This category does not exist!</p>
	{% endif %}

<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}