{% extends "rango/bootstrap_base.html" %}
{% load staticfiles %}

{% block title_block %}
	Add Category
{% endblock %}

{% block body_block %}
	<div>
		<form role="form" id="category_form" method="post" action="/rango/add_category/">
		<h2 class="form-signin-heading">Add a Category</h2>
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
			<button class="btn btn-primary" type="submit" name="submit">
				Create Category
			</button>
		</form>
	</div>
	<br />
	<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}
