<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>Rango - 
		   	{% block title_block %} 
		   	  How to Tango with Django!
		   	{% endblock %}
		</title>
	</head>

	<body>
		<div>
		{% block sidebar_block %}
			{% get_category_list %}
		{% endblock %}
		</div>

		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />

		{% block foot_block %}
<div>
	<ul>
		{% if user.is_authenticated %}
		<li>
			<a href="{% url 'add_category' %}">Add New Category</a>
		</li>
		<li>
			<a href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
		</li>
		{% else %}
		<li>
			<a href="{% url 'registration_register' %}">Sign Up</a>
		</li>
		<li>
			<a href="{% url 'auth_login' %}">Login</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'about' %}">About</a>
		</li>
		<li>
			<a href="{% url 'index' %}">Index</a>
		</li>
	</ul>
</div>
{% endblock %}
	</body>
</html>