<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
														initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'images/favicon.ico' %}">
		
		<title>
			Moogle - {% block title %}How to Tango with Django{% endblock %}
		</title>

		<!-- Bootstrappe shitten -->
		<link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	</head>

	<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Moogle</a>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"> 
						<a class="nav-link" href="{% url 'index' %}">Home</a>
					</li>

					<li class="nav-item"> 
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'search' %}">Search</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'add_category' %}">
						 	Add a New Category
						</a>
					</li>
	
					<li class="nav-item"> 
						<a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">
						Logout
						</a>
					</li>

					{% else %}
					<li class="nav-item"> 
						<a class="nav-link" href="{% url 'registration_register' %}">
						Register Here
						</a>
					</li>

					<li class="nav-item">
					 	<a class ="nav-link" href="{% url 'auth_login' %}">
							Login
						</a>
					</li>
					{% endif %}
				</ul>
				</nav>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				
				<div class="col-sm-3 col-md-2 sidebar">
					{% block sidebar_block %}
						{% get_category_list category %}
					{% endblock %}
				</div>

				<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
					{% block body_block %}{% endblock %}
				</div>


			</div>
		</div>

		<!-- Bootstraps Javascript-bibliotek -->
		<script 
			src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
		</script>

		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

		<script 
			src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
		</script>

		<script 
			src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">
		</script>
	</body>
</html>