body {
     padding: 0;
     margin: 0;
     font-family: 'Helvetica','Arial','sans';
}

#toolbar {
     top: 0px;
     position: fixed;
     background: rgba(200, 93, 60, 1);
     width: 100%;
     z-index: 2;
}

#current-folder {
     float: left;
     color: white;
     background: rgba(0, 0, 0, 0.3);
     padding: 0.5em 1em;
     min-width: 10em;
     border-radius: 0.2em;
     margin: 1em;
}

#main-area {
     clear: both;
     margin: 2em;
     margin-top: 3em;
     z-index: 1;
}

.item {
     position: relative;
     float: left;
     padding: 1em;
     margin: 1em;
     width: 6em;
     height: 6em;
     text-align: center;
}

.item .filename {
     padding-top: 1em;
     font-size: 10pt;
}
