{% extends "rango/bootstrap_base.html" %}


{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="styleshet">

<div class="jumbotron">
	<h1 class="display-3">Login</h1>
</div>

<form class="form-signin" role="form" method="post" action=".">
	{% csrf_token %}
	<h2 class="form-signin-heading">Please sign in</h2>
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="id_password" class="form-control" name="password" placeholder="Password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />
		Sign in
	</button>
	<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Not a member? 
	<a href="{% url 'registration_register' %}">Register</a>
</p>
{% endblock %}