{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<p class="date">
		Published {{ post.publish }} by {{ post.author }}
	</p>
	

	{{ post.body|markdown }}
	<p>
		<a href="{% url 'post_share' post.id %}">
			Share this post
		</a>
	</p>

	{% with comments.count as total_comments %}
	<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
	{% endwith %}

	{% for comment in commments %}
	<div class="comment">
		<p class="info">
			Comment {{ forloop.counter }} by {{ comment.name }}
		</p>
		{{ comment.body|linebreaks }}
	</div>
	{% empty %}
	<p>There are no comments, bitch.</p>
	{% endfor %}

	{% if new_comment %}
	<h2>Your comment has been added. Congrats, you win at life.</h2>
	{% else %}
	<h2>Add a new comment</h2>
	<form action="." method="post">
		{{ comment_form.as_p }}
		{% csrf_token %}
		<p>
			<input type="submit" value="Add comment">
		</p>
	</form>
	{% endif %}
{% endblock %}