{% load blog_tags %}
{% load staticfiles %}

<DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link href="{% static "css/blog.css" %}" rel="stylesheet">
	</head>

	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<div id="sidebar">
			<h2>My Blog</h2>
			<p>This is my blog. I have written {% total_posts %}</p>

			<h3>Latest Posts</h3>
			{% show_latest_posts 3 %}

			<h3>Most commented posts</h3>
			{% get_most_commented_posts as most_commented_posts %}
			<ul>
				{% for post in most_commented_posts %}
				<li>
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>

			<p>
				<a href="{% url 'post_feed' %}">Subscribe to my RSS feed</a>
			</p>
		</div>
	</body>
</html>